In [ ]:
import sqlite3

# Connect to SQLite database
conn = sqlite3.connect('Store.db')

# Create a cursor object to interact with the database
cur = conn.cursor()

# Create tables and print confirmation
cur.execute('''
CREATE TABLE IF NOT EXISTS Product (
    Product_Id INTEGER PRIMARY KEY,
    Product_Name TEXT,
    Price REAL,
    Aisle_Id INTEGER
)
''')
print("Product table created")

cur.execute('''
CREATE TABLE IF NOT EXISTS "Order" (
    Order_Id INTEGER PRIMARY KEY,
    Product_Id INTEGER,
    Customer_Name TEXT,
    Amount INTEGER
)
''')
print('"Order" table created')

cur.execute('''
CREATE TABLE IF NOT EXISTS Aisle (
    Aisle_Id INTEGER PRIMARY KEY,
    Aisle_Name TEXT,
    Product_Id INTEGER
)
''')
print("Aisle table created")

# Insert data into tables using INSERT OR IGNORE and print confirmation
cur.execute('INSERT OR IGNORE INTO Product (Product_Id, Product_Name, Price, Aisle_Id) VALUES (1, "Apple", 0.5, 1)')
cur.execute('INSERT OR IGNORE INTO Product (Product_Id, Product_Name, Price, Aisle_Id) VALUES (2, "Banana", 0.3, 1)')
cur.execute('INSERT OR IGNORE INTO Product (Product_Id, Product_Name, Price, Aisle_Id) VALUES (3, "Carrot", 0.2, 2)')
cur.execute('INSERT OR IGNORE INTO Product (Product_Id, Product_Name, Price, Aisle_Id) VALUES (4, "Detergent", 5.0, 3)')
cur.execute('INSERT OR IGNORE INTO Product (Product_Id, Product_Name, Price, Aisle_Id) VALUES (5, "Eggs", 2.0, 1)')
cur.execute('INSERT OR IGNORE INTO Product (Product_Id, Product_Name, Price, Aisle_Id) VALUES (6, "Flour", 1.0, 4)')
print("Data inserted into Product table")

cur.execute('INSERT OR IGNORE INTO "Order" (Order_Id, Product_Id, Customer_Name, Amount) VALUES (1, 1, "John Doe", 5)')
cur.execute('INSERT OR IGNORE INTO "Order" (Order_Id, Product_Id, Customer_Name, Amount) VALUES (2, 2, "Jane Doe", 10)')
cur.execute('INSERT OR IGNORE INTO "Order" (Order_Id, Product_Id, Customer_Name, Amount) VALUES (3, 3, "Alice", 4)')
cur.execute('INSERT OR IGNORE INTO "Order" (Order_Id, Product_Id, Customer_Name, Amount) VALUES (4, 4, "Bob", 2)')
print("Data inserted into \"Order\" table")

# Commit the changes and close the connection
conn.commit() # Committing the changes to persist them
print("Changes committed")

conn.close()  # Closing the connection explicitly to release the lock
print("Connection closed")

Product table created
"Order" table created
Aisle table created
Data inserted into Product table
Data inserted into "Order" table
Changes committed
Connection closed

In [ ]:
import sqlite3
import pandas as pd

# Connect to SQLite database
conn = sqlite3.connect('Store.db')
print("Connected to SQLite database")

# Load tables and join them
query = '''
SELECT Product.Product_Id, Product.Product_Name, Product.Price, Aisle.Aisle_Id, Aisle.Aisle_Name
FROM Product
JOIN Aisle ON Product.Aisle_Id = Aisle.Aisle_Id
'''

# Execute the query and save the result into a dataframe
df = pd.read_sql_query(query, conn)
print("Query executed and result saved into dataframe:")
print(df)

# Export the dataframe to a CSV file
df.to_csv('Product_Aisle.csv', index=False)
print("Dataframe exported to 'Product_Aisle.csv'")

# Close the connection
conn.close()
print("Connection closed")

Connected to SQLite database
Query executed and result saved into dataframe:
Empty DataFrame
Columns: [Product_Id, Product_Name, Price, Aisle_Id, Aisle_Name]
Index: []
Dataframe exported to 'Product_Aisle.csv'
Connection closed

In [ ]:
from sqlalchemy import create_engine, MetaData, Table
import pandas as pd

# Create a SQLAlchemy engine
engine = create_engine('sqlite:///Store.db')
print("SQLAlchemy engine created")

# Load tables and join them
query = '''
SELECT "Order".Order_Id, "Order".Customer_Name, "Order".Amount, Product.Product_Id, Product.Product_Name
FROM "Order"
JOIN Product ON "Order".Product_Id = Product.Product_Id
'''
print("SQL query defined")

# Execute the query and save the result into a dataframe
df = pd.read_sql_query(query, engine)
print("Query executed and result saved into dataframe:")
print(df)

# Export the dataframe to a CSV file
df.to_csv('Order_Product.csv', index=False)
print("Dataframe exported to 'Order_Product.csv'")

SQLAlchemy engine created
SQL query defined
Query executed and result saved into dataframe:
   Order_Id Customer_Name  Amount  Product_Id Product_Name
0         1      John Doe       5           1        Apple
1         2      Jane Doe      10           2       Banana
2         3         Alice       4           3       Carrot
3         4           Bob       2           4    Detergent
Dataframe exported to 'Order_Product.csv'